html {
}

body {
  color: black;
  background-color: white;
  background-image: url(BackgroundSite.gif);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

  .chest {
    width: 20%;
    height: 20%;

    margin-left: auto;
    margin-right: auto;
    margin: center;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
